body {
  background-color: #ffcccc;
  }
h1 {
  text-align: center;
  font-size: 65px;
  color: #FF6090;
  font-family: Garamond;
  border: double;
  margin-top: 5px;
  margin-bottom: -5px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #f7c6df, 0 0 20px #f7c6df, 0 0 30px #ffb3d9, 0 0 40px #ffb3d9, 0 0 50px #ffb3d9, 0 0 60px #ffb3d9, 0 0 70px #ffb3d9;
  }
  to {
    text-shadow: 0 0 20px #f7c6df, 0 0 30px #f27cb7, 0 0 40px #f27cb7, 0 0 50px #f27cb7, 0 0 60px #f27cb7, 0 0 70px #f27cb7, 0 0 80px #f27cb7;
  }
}

.title{
  display: block;
  float: left;
  width: 140px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: -13px;
  color: #000000;
  font-family: "Lucida Handwriting"
}

.next-top-dog {
  text-align: center;
  color: #FF1493;
  font-size: 25px;
  font-family: "Lucida Handwriting";
  margin-top: -5px;
  margin-bottom: -5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

h2 {
  text-align: center;
  font-family: cursive;
  font-size: 25px;
}

.description{
  text-align: center;
  font-family: "Lucida Handwriting";
  margin-bottom: 0;
  color:#FF1493;
}

.sidebar{
  text-decoration: underline;
  float: left;
  position: static;
  width: 33%;
  top: 10px;
  left: 20px;
  right: 20px;
  height: 25px;
  background: #FF99CC;
  overflow-x: hidden;
  padding: 10px 0;
}

.sidebar2{
  text-decoration: underline;
  float: right;
  position: static;
  width: 275px;
  top: 10px;
  left: 20px;
  right: 20px;
  height: 25px;
  background: #FF99CC;
  overflow-x: hidden;
  padding: 10px 0;
  font-family: "lucida Handwriting";
  padding-right: 10px;
}

.photoshoot {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  border: 12px solid #FFFFFF;
  display: block;
  margin-top: auto;
  margin-left: 37%;
  text-align: center;
}

.kitty{
  border:10px solid #FFFFFF;
  width: 200px;
  height: 250px;
  float: right;
  border-spacing: 10px;
  margin-bottom: 15px;
  padding-right: 20px;
}

.patricia{
  border: 10px solid #FFFFFF;
  width: 200px;
  height: 250px;
  float: right;
  padding-right: 20px;
}

.bttn{
  text-align: center;
  display: inline-block;
  cursor: pointer;
  padding-top: 5px;
  padding-left: 160px;
  }

.dropdown {
  text-decoration: underline;
  position: relative;
  display: inline-block;
  font-family: "lucida Handwriting";
}

.dropdown2{
  float: right;
  text-decoration: underline;
}

.content1 {
  float: left;
  background-color: #ffcccc;
  clear: left;
  width: 400px;
  font-family: "lucida Handwriting";
  border: double;
  color: #FF1493;
  padding-right: 25px;
  padding-bottom: -5px;
  padding-left: 5px;
}

.row:after{
  clear: both;
}

.content2 {
  color: #FF1493;
  float: right;
  background-color: #ffcccc;
  clear: right;
  font-family: "lucida Handwriting";
  border: double;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.spotify {
  float: left;
  clear: left;
  font-family: "lucida Handwriting";
  padding-right: 7px;
  padding-left: 5px;
  border: double;
  color: #FF1493;
}

.microchip {
  text-align: center;
  font-family: "lucida Handwriting";
  float: left;
  clear: left;
  border: 5px solid #FFFFFF;
  padding-right: 5px;
  padding-left: 5px;
}

.credit {
  float: left;
  clear: left;
  font-family: Garamond;
  border: double;
  color: #FF6090;
  padding-right: 5px;
}

.stars{
 clear: none;
 float: right;
 padding-right: 180px;
 padding-top: 20px;
 font-size: 15px;
}

.stars2{
  clear: none;
  float: right;
  font-size: 15px;
  padding-right: 83px;
}
